<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home/chat.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="home/chat.js"></script>
    <title>CHAT</title>
</head>
<body>
    <div class="chat">
        <div class="display" id="display"></div>
        <div class="input">
            <input type="text" class="input-chat" id="input_chat">
            <button class="send-msg" id="send_msg">invia</button>
        </div>
    </div>
</body>
</html>